@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham\ Book.otf");
  }
  @font-face {
    font-family: "Gotham-Book";
    src: local("Gotham-Book");
  }


*{
    box-sizing: border-box;
    font-family: "Gotham";
    margin: 0;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
a{
    color: black;
}
a:hover{
    color: #013392;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 15vw;
    padding-left: 15vw;
    height: 61px;
    
}
.container-img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
ul{
    display: flex;
}
li{
    margin: 20px;
}
.content{

    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 5vh;
    padding-bottom:5vh;
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-origin: border-box;
}
header{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.article{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: #013392;
    box-shadow: 3px 3px 5px grey ;
}
.article_quienessomos{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: #013392;
    box-shadow: 3px 3px 5px grey ;
}
.article_productos{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: #30a9e0;
    box-shadow: 3px 3px 5px grey ;
}
.logo_inicio{
    position: absolute;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.logo_inicio img{
    width: 55%;
    
}
.content-img{
    object-fit: fill;
    width: 65%;
}
.titulo{
    color:white;
    text-shadow: 1px 1px 1px gray;
    text-align: right;
}
.subtitulo{
    background-image: linear-gradient(to right,#003392, #001761);
    color: #99a1bb;
    text-align: right;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    box-shadow: 3px 3px 5px grey ;
}
.text-container{
    width:35%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.text{
    color: white;
    margin: 5vh;
    overflow: auto;
    min-width: 200px;
    
}
.article-title1{
    width: 18vw;
    position: relative;
    top: 2.5vh;
    left: -13.5vw ;
    z-index: 3;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.article-title2{
    width: 18vw;
    position: relative;
    top: 2.5vh;
    left: 15vw ;
    z-index: 3;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}