@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham\ Book.otf");
  }
  @font-face {
    font-family: "Gotham-Book";
    src: local("Gotham-Book");
  }


*{
    box-sizing: border-box;
    font-family: "Gotham";
    margin: 0;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
a{
    color: black;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 15vw;
    padding-left: 15vw;
    box-shadow: 0px 0px 5px #c3c3c3 ;
}
ul{
    display: flex;
    height: 50px;
}
li{
    margin: 20px;
}
.content-container{
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    margin-top: 5vh;
}
.article{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background-image: url("../img/imageninicio.jpeg");
    /* height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
}
.logo_inicio{
    width: 15%;
    position: absolute;
    z-index: 200;
}
.content-img{
    box-shadow: 3px 3px 5px gray;
    object-fit: fill;
    width: 65%;
    

}
.titulo{
    color:white;
    text-shadow: 1px 1px 1px gray;
    text-align: right;
}
.subtitulo{
    background-image: linear-gradient(to right,#003392, #001761);
    color: #99a1bb;
    text-align: right;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    box-shadow: 3px 3px 5px grey ;
}
.text-container{
    width:35%;
    background-color: #013392;
    box-shadow: 3px 3px 5px grey ;
}
.text{
    color: white;
    margin: 5vh;
    overflow: auto;
    min-width: 200px;
}
.article-title1{
    width: 18vw;
    position: relative;
    top: 7.5vh;
    left: -13.5vw ;
    z-index: 3;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.article-title2{
    width: 18vw;
    position: relative;
    top: 7.5vh;
    left: 25vw ;
    z-index: 3;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}